body{
    background-color: #e3fdfd;
    width: 80%;
    margin: auto;
    font-family: 'Lucida Sans';
}

img{
    width: 150px;
    height: 200px;
}

h2{
    color: #11999e;
}

h3{
    color: #40514e;
}

.navbar ul{
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
    background-color: #293130;
}

.navbar li {
    float: left;
}

.navbar li a {
    display: block;
    color: white;
    text-align: center;
    padding: 15px 15px;
    text-decoration: none;
}
.navbar li a:hover{
    background-color: #5d7881;
}

#Head{
    font-family: Segoe UI;
    color: #293130;
}

table {
    width: 50%;
    border-collapse: collapse;
    border: 1 solid black;
} 

th, td {
    border-collapse: collapse;
    padding: 4px;
    border: 1 solid black;
}
.TabelBiodata table,.TabelBiodata td{
    color: black;
    font-family: monospace;
    background-color: #e4f9f5;
    border: 1px solid white;
    font-size: 16px;
}

.TabelIsi table, .TabelIsi tr,.TabelIsi td{
    color: black;
    font-family: Verdana;
    background-color: #08d9d6;
    border: 1px solid white;
    text-align: center;
}

hr{
    border-style: none;
    border-top-style: dashed;
    border-color: grey;
    border-width: 5px;
    width: 10%;
}

input[type=text]{
    width: 60%;
    padding: 5px 20px;
    box-sizing: border-box;
}

input[type=button]{
    color: white;
    background-color: #293130;
    padding: 10px 10px;
}

input[type=button]:hover{
    background-color: #5d7881;
}

textarea{
    width: 70%;
    padding: 5px 20px;
    box-sizing: border-box;
}